.popup__form{
  width: 430px;
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 520px){
  .popup__form{
    width: 240px;
  }
}

