.elements{
	max-width: 882px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-auto-flow: row;
	gap: 21px 18px;
}

@media screen and (max-width: 940px){
	.elements{
		max-width: 582px;
		grid-template-columns: repeat(2, 1fr);
	  grid-template-rows: repeat(3, 1fr);
	}
}

@media screen and (max-width: 628px){
	.elements{
		max-width: 282px;
		grid-template-columns: repeat(1, 1fr);
	  grid-template-rows: repeat(6, 1fr);
	  gap: 20px;
	}
}

